[submodule "external-deps/pipeline-dags"]
	path = external-deps/pipeline-dags
	url = git@repository.v2.moon-cloud.eu:marco-luzzara/ml-pipeline-dags.git
[submodule "external-deps/ml-tasks"]
	path = external-deps/ml-tasks
	url = git@repository.v2.moon-cloud.eu:musa/task-spark.git
